@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
}

.bp3-input {
  width: 100%;
}